@import '../variables.scss';

.body-container {
  background-color: $background-color;
  border: 1px solid $primary-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
}

.scroll {
  max-width: 100%;
  max-height: 100%;
  overflow: scroll;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .body-container {
    width: 100vw;
    height: 100vh;
    min-height: 600px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (orientation: portrait) {
  .body-container {
    width: 80vw;
    height: 80vh;
    max-width: 480px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (orientation: landscape) {
  .body-container {
    width: 80vw;
    max-width: 480px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (orientation: portrait) {
  .body-container {
    width: 70vw;
    height: 80vh;
    max-width: 480px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .body-container {
    width: 70vw;
    height: 80vh;
    max-width: 480px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .body-container {
    width: 60vw;
    height: 80vh;
    max-width: 480px;
  }
}
